<!DOCTYPE html>
<html lang="en" class="white">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" href="/tenant/styles/images/title-logo.png" type="image/x-icon">
  <title>Alert</title>
  <link rel="stylesheet" type="text/css" href="/frontend/Layout-public.min.css" >
  <link rel="stylesheet" href="antd.min.css" />
  <link rel="stylesheet" href="index.css" />
  <script>
    var userAgent = navigator.userAgent;
    var isIE = userAgent.indexOf("compatible") > -1 && userAgent.indexOf("MSIE") > -1 && !isOpera; //判断是否IE浏览器
    if (isIE)
    {
      var reIE = new RegExp("MSIE (\\d+\\.\\d+);");
      reIE.test(userAgent);
      var fIEVersion = parseFloat(RegExp["$1"]);

      if(fIEVersion == 10)
      { document.write('<'+'script src='+"polyfill-ie10.js"+'>'+'<\/script>');}
      else if(fIEVersion == 11)
      { document.write('<'+'script src='+"polyfill-ie11.js"+'>'+'<\/script>');}
      else
      {  }//IE版本过低
    }
  </script>
  <!--[if lt IE 10]>
  <script src="polyfill-ie10.js"></script>
  <![endif]-->
  <!--[if lte IE 11]>
  <script src="polyfill-ie11.js"></script>
  <![endif]-->
</head>
<body>
<div id="root" class="root"></div>
<div id="tree" style="margin-left:200px;">

</div>

<script src="index.js"></script>
<script>
  window.Layout && window.Layout.init(1013)
</script>
<script src="/frontend/Layout-public.min.js"></script>
</body>
</html>
